<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    <link rel="stylesheet" href="{{ '/css/post.css' | absolute_url }}">
    {% feed_meta %}
  </head>
  <body>
    {% include header.html %}
    {% include nav.html %}
    <main class="main container">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include google-analytics.html %}
    {% include disqus.html %}
  </body>
</html>
